In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
!pip install lightfm
!pip install git+https://github.com/benfred/implicit.git@18a8010b07e8a86f8eb37f837b5bbda11647501f

Requirement already satisfied: lightfm in /usr/local/lib/python3.7/dist-packages (1.16)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from lightfm) (2.23.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from lightfm) (1.0.2)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.7/dist-packages (from lightfm) (1.4.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from lightfm) (1.19.5)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->lightfm) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->lightfm) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->lightfm) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->lightfm) (3.0.4)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->lightfm) (3.0.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->lightfm) (1.1.0)
Collecting git+https://github.com/benfred/implicit.git@18a8010b07e8a86f8eb37f837b5bbda11647501f
  Cloning https://github.com/benfred/implicit.git (to revision 18a8010b07e8a86f8eb37f837b5bbda11647501f) to /tmp/pip-req-build-q72s4xnk
  Running command git clone -q https://github.com/benfred/implicit.git /tmp/pip-req-build-q72s4xnk
  Running command git rev-parse -q --verify 'sha^18a8010b07e8a86f8eb37f837b5bbda11647501f'
  Running command git fetch -q https://github.com/benfred/implicit.git 18a8010b07e8a86f8eb37f837b5bbda11647501f
  Running command git checkout -q 18a8010b07e8a86f8eb37f837b5bbda11647501f
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Installing backend dependencies ... done
    Preparing wheel metadata ... done
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from implicit==0.4.8) (1.19.5)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.7/dist-packages (from implicit==0.4.8) (4.62.3)
Requirement already satisfied: scipy>=0.16 in /usr/local/lib/python3.7/dist-packages (from implicit==0.4.8) (1.4.1)

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# Для работы с матрицами
from scipy.sparse import csr_matrix, coo_matrix

# Матричная факторизация
from implicit.als import AlternatingLeastSquares
from implicit.nearest_neighbours import bm25_weight, tfidf_weight

from lightfm import LightFM
from lightfm.evaluation import precision_at_k, recall_at_k

# Функции из 1-ого вебинара
import os, sys

module_path = '/content/drive/MyDrive/rec_sys_course/hw5'
if module_path not in sys.path:
    sys.path.append(module_path)
    
# from src.metrics import precision_at_k, recall_at_k
from utils import prefilter_items

In [4]:
DATA_PATH = '/content/drive/MyDrive/rec_sys_course/hw5'
data = pd.read_csv(os.path.join(DATA_PATH, 'retail_train.csv'))

item_features = pd.read_csv(os.path.join(DATA_PATH, 'product.csv'))
user_features = pd.read_csv(os.path.join(DATA_PATH, 'hh_demographic.csv'))

# column processing
item_features.columns = [col.lower() for col in item_features.columns]
user_features.columns = [col.lower() for col in user_features.columns]

item_features.rename(columns={'product_id': 'item_id'}, inplace=True)
user_features.rename(columns={'household_key': 'user_id'}, inplace=True)

# train test split
test_size_weeks = 3

data_train = data[data['week_no'] < data['week_no'].max() - test_size_weeks]
data_test = data[data['week_no'] >= data['week_no'].max() - test_size_weeks]

data_train.head(2)

   user_id    basket_id  day  ...  week_no  coupon_disc  coupon_match_disc
0     2375  26984851472    1  ...        1          0.0                0.0
1     2375  26984851472    1  ...        1          0.0                0.0

[2 rows x 12 columns]

In [5]:
item_features.head(2)

   item_id  manufacturer  ...           sub_commodity_desc curr_size_of_product
0    25671             2  ...          ICE - CRUSHED/CUBED                22 LB
1    26081             2  ...  NO SUBCOMMODITY DESCRIPTION

[2 rows x 7 columns]

In [6]:
user_features.head(2)

  age_desc marital_status_code  ... kid_category_desc user_id
0      65+                   A  ...      None/Unknown       1
1    45-54                   A  ...      None/Unknown       7

[2 rows x 8 columns]

In [7]:
user_features['age_desc'].unique()

array(['65+', '45-54', '25-34', '35-44', '19-24', '55-64'], dtype=object)

In [8]:
user_features['marital_status_code'].unique()

array(['A', 'U', 'B'], dtype=object)

In [9]:
user_features['household_size_desc'].unique()

array(['2', '3', '4', '1', '5+'], dtype=object)

## 1. Filter items

In [10]:
n_items_train_before = data_train['item_id'].nunique()
n_items_test_before = data_test['item_id'].nunique()
n_users_train_before = data_train['user_id'].nunique()
n_users_test_before = data_test['user_id'].nunique()

data_train_filtered = prefilter_items(data_train, take_n_popular=5000, item_features=item_features)
data_test_filtered = prefilter_items(data_test, take_n_popular=5000, item_features=item_features)

n_items_train_after = data_train_filtered['item_id'].nunique()
n_items_test_after = data_test_filtered['item_id'].nunique()
n_users_train_after = data_train_filtered['user_id'].nunique()
n_users_test_after = data_test_filtered['user_id'].nunique()
print('Decreased # items_train from {} to {}'.format(n_items_train_before, n_items_train_after))
print('Decreased # items_test from {} to {}'.format(n_items_test_before, n_items_test_after))
print('Decreased # users_train from {} to {}'.format(n_users_train_before, n_users_train_after))
print('Decreased # users_test from {} to {}'.format(n_users_test_before, n_users_test_after))

Decreased # items_train from 86865 to 5001
Decreased # items_test from 24329 to 5001
Decreased # users_train from 2499 to 2497
Decreased # users_test from 2042 to 1990

# 2. Prepare data set

## 2.1 Prepare csr train matrix

In [11]:

user_item_matrix = pd.pivot_table(data_train_filtered, 
                                  index='user_id', columns='item_id', 
                                  values='quantity', # Можно пробоват ьдругие варианты
                                  aggfunc='count', 
                                  fill_value=0
                                 )

user_item_matrix = user_item_matrix.astype(float) # необходимый тип матрицы для implicit

# переведем в формат saprse matrix
sparse_user_item = csr_matrix(user_item_matrix).tocsr()

user_item_matrix.head(2)

item_id  117847    818981    819255    ...  16100266  16729299  16729415
user_id                                ...
1             0.0       0.0       0.0  ...       0.0       0.0       0.0
2             0.0       0.0       0.0  ...       0.0       0.0       0.0

[2 rows x 5001 columns]

## 2.2 Prepare CSR test matrix

In [12]:
data_test = data_test[data_test['item_id'].isin(data_train['item_id'].unique())]

test_user_item_matrix = pd.pivot_table(data_test_filtered, 
                                  index='user_id', columns='item_id', 
                                  values='quantity', # Можно пробовать другие варианты
                                  aggfunc='count', 
                                  fill_value=0
                                 )

test_user_item_matrix = test_user_item_matrix.astype(float) # необходимый тип матрицы для implicit
test_user_item_matrix.head(2)

item_id  819210    819308    819423    ...  17959083  18000012  18024556
user_id                                ...
1             0.0       0.0       0.0  ...       0.0       0.0       0.0
3             0.0       0.0       0.0  ...       0.0       0.0       0.0

[2 rows x 5001 columns]

In [13]:
userids = user_item_matrix.index.values
itemids = user_item_matrix.columns.values

matrix_userids = np.arange(len(userids))
matrix_itemids = np.arange(len(itemids))

id_to_itemid = dict(zip(matrix_itemids, itemids))
id_to_userid = dict(zip(matrix_userids, userids))

itemid_to_id = dict(zip(itemids, matrix_itemids))
userid_to_id = dict(zip(userids, matrix_userids))

## 3. Prepare user and item features

In [14]:
user_feat = pd.DataFrame(user_item_matrix.index)
user_feat = user_feat.merge(user_features, on='user_id', how='left')
user_feat.set_index('user_id', inplace=True)
user_feat.head(2)

        age_desc marital_status_code  ... household_size_desc kid_category_desc
user_id                               ...
1            65+                   A  ...                   2      None/Unknown
2            NaN                 NaN  ...                 NaN               NaN

[2 rows x 7 columns]

In [15]:
user_feat.shape

(2497, 7)

In [16]:
item_feat = pd.DataFrame(user_item_matrix.columns)
item_feat = item_feat.merge(item_features, on='item_id', how='left')
item_feat.set_index('item_id', inplace=True)

item_feat.head(2)

         manufacturer department  ... sub_commodity_desc curr_size_of_product
item_id                           ...
117847          450.0  NUTRITION  ...      SOY/RICE MILK                64 OZ
818981          194.0    GROCERY  ...  ALL FAMILY CEREAL              10.4 OZ

[2 rows x 6 columns]

In [17]:
item_feat.shape

(5001, 6)

## Encoding features

In [18]:
user_feat_lightfm = pd.get_dummies(user_feat, columns=user_feat.columns.tolist())
item_feat_lightfm = pd.get_dummies(item_feat, columns=item_feat.columns.tolist())

In [19]:
user_feat_lightfm.head(2)

         age_desc_19-24  ...  kid_category_desc_None/Unknown
user_id                  ...
1                     0  ...                               1
2                     0  ...                               0

[2 rows x 41 columns]

In [20]:
item_feat_lightfm.head(2)

         manufacturer_2.0  ...  curr_size_of_product_QT
item_id                    ...
117847                  0  ...                        0
818981                  0  ...                        0

[2 rows x 2718 columns]

## Init model

In [21]:
model = LightFM(no_components=40,
                 loss='bpr',
                #loss='warp',
                learning_rate=0.05, 
                item_alpha=0.1,
                user_alpha=0.1, 
                random_state=42)

## Train

In [22]:
%%time

model.fit((sparse_user_item > 0) * 1,  # user-item matrix из 0 и 1
          sample_weight=coo_matrix(user_item_matrix),
          user_features=csr_matrix(user_feat_lightfm.values).tocsr(),
          item_features=csr_matrix(item_feat_lightfm.values).tocsr(),
          epochs=15, 
          num_threads=4,
          verbose=False)

CPU times: user 1min 1s, sys: 59.5 ms, total: 1min 1s
Wall time: 38.5 s

# Evaluation

In [23]:
user_emb = model.get_user_representations(features=csr_matrix(user_feat_lightfm.values).tocsr())

In [24]:
item_emb = model.get_item_representations(features=csr_matrix(item_feat_lightfm.values).tocsr())

# Train precision

In [25]:
train_precision = precision_at_k(model, sparse_user_item, 
                                 user_features=csr_matrix(user_feat_lightfm.values).tocsr(),
                                 item_features=csr_matrix(item_feat_lightfm.values).tocsr(),
                                 k=5).mean()

train_precision

0.21097319

In [26]:
test_item_ids = np.array([1, 2, 3, 200, 1200])

predictions = model.predict(user_ids=0,
                            item_ids=test_item_ids,
                            user_features=csr_matrix(user_feat_lightfm.values).tocsr(),
                            item_features=csr_matrix(item_feat_lightfm.values).tocsr(),
                            num_threads=4)

# Test precision

In [27]:
test_precision = precision_at_k(model, csr_matrix(test_user_item_matrix).tocsr(), 
                                 user_features=csr_matrix(user_feat_lightfm.values).tocsr(),
                                 item_features=csr_matrix(item_feat_lightfm.values).tocsr(),
                                 k=5).mean()

test_precision

0.0024120605

# GRID search

In [28]:
from hyperopt import hp, fmin, tpe, STATUS_OK
from functools import partial

In [29]:
def objective(params, model,sparse_user_item, user_item_matrix, user_feat_lightfm, item_feat_lightfm):
   
    model.set_params(**params)
    model.fit((sparse_user_item > 0) * 1,  # user-item matrix из 0 и 1
          sample_weight=coo_matrix(user_item_matrix),
          user_features=csr_matrix(user_feat_lightfm.values).tocsr(),
          item_features=csr_matrix(item_feat_lightfm.values).tocsr(),
          epochs=15, 
          num_threads=4,
          verbose=False) 
    test_precision = precision_at_k(model, csr_matrix(test_user_item_matrix).tocsr(), 
                                    user_features=csr_matrix(user_feat_lightfm.values).tocsr(),
                                    item_features=csr_matrix(item_feat_lightfm.values).tocsr(),
                                    k=5).mean()

    
    return   {'loss': -test_precision, 'params': params, 'status': STATUS_OK}

In [30]:
from hyperopt.base import Trials
space = {
    'loss' : hp.choice(label='loss', options=['bpr', 'warp']),
    'learning_rate' : hp.uniform("learning_rate", 0.02, 0.05),
    'no_components' : hp.choice('no_components', np.arange(30, 100, dtype=int))
}

model = LightFM(
                item_alpha=0.1,
                user_alpha=0.1, 
                random_state=42)
trials=Trials()
best = fmin( 
            fn=partial(objective, model=model,sparse_user_item=sparse_user_item, user_item_matrix=user_item_matrix, user_feat_lightfm=user_feat_lightfm, item_feat_lightfm=item_feat_lightfm),
            space=space, 
            algo=tpe.suggest, 
            max_evals=10,
            trials=trials,)
print(best)

100%|██████████| 10/10 [07:08<00:00, 42.89s/it, best loss: -0.013869347050786018]
{'learning_rate': 0.028442048183657996, 'loss': 0, 'no_components': 34}

https://hyperopt.github.io/hyperopt/

In [31]:
from hyperopt import fmin, tpe, hp
best = fmin(fn=lambda x: x ** 2,
    space=hp.uniform('x', -10, 10),
    algo=tpe.suggest,
    max_evals=100)
print(best)

100%|██████████| 100/100 [00:00<00:00, 306.95it/s, best loss: 0.01431203466106999]
{'x': -0.11963291629426238}

# Статья о использование рекомендательных систем в инвестициях

https://arxiv.org/pdf/2104.12484.pdf